numpy==1.26.4
opencv-python-headless
PyQt6==6.9.1
QtPy
openpyxl
pydicom
python-gdcm
pyinstaller-versionfile
PyYAML
# for AI utils
ultralytics
matplotlib
japanize-matplotlib
keras
onnxruntime==1.17.3
onnx==1.16.1