numpy
opencv-python-headless
PyQt6==6.9.1
QtPy
openpyxl
pydicom
python-gdcm
pyinstaller-versionfile
PyYAML
# for AI utils
ultralytics
matplotlib
japanize-matplotlib
scikit-learn
keras
onnxruntime==1.17.3
onnx
imgaug==0.3.0