numpy==1.26.4
scipy
matplotlib
japanize-matplotlib
PyQt6==6.9.1
QtPy
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
pydicom
python-gdcm
ultralytics
keras
onnx==1.16.1
onnxruntime==1.17.1
openpyxl
PyYAML
pyinstaller-versionfile
